# NetBeans
nbproject/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Maven
target/
.mvn/
mvnw
mvnw.cmd

# IDEs
.idea/
*.iml
*.ipr
*.iws

# Logs
*.log
logs/

# System
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Spring Tools Suite
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# HELP.md
HELP.md

# Specific Target Folders
!**/src/main/**/target/
!**/src/test/**/target/
